
	{{!-- 三花括 {{{}}} 可以解析 HTML 內容，而雙花括 {{}} 會把內容當成單純的字串。--}}

<a href="./todos/new">Create</a>
<ul>
	{{#each todos}}
		<li>
			{{this.name}}
			<a href="./todos/{{ this._id}}">details</a>
		</li>
	{{/each}}
</ul>